<div style="margin: 0 auto; padding-top: 70px;">
    <h1>This is the Dashboard for {{usersPosts.username}}.</h1>
    {{> post-admin}}
    {{> postbtn }}
</div>

<script src="../js/post-admin.js"></script>